@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <title>Frontend Bootcamp</title>
    <link href="~/Style/StyleSheetHome.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link" id="navteam">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item" id="navlogin">
                        <button onclick="window.location.href='/Login/Index'" type="button" class="rounded-0 btn btn-outline-secondary" id="loginbtn">LOGIN</button>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!--Content-->
        <section class=" text-light p-5 text-center text-xl-start">
            <div class="container" id="maincontainer">
                <div class="d-lg-flex row justify-content-between" id="content">
                    <div class="text-xl-start col-lg-12 col-xxl-9 col-xl-10" id="title">
                        <h1>
                            KEEP YOUR PASSWORDS /ICE-COLD/ SECURE
                        </h1>
                    </div>
                    <div style="margin-top:40px" class="text-xl-start col-lg-12 col-xxl-9 col-xl-10">
                        <h6>
                            YOUR FORTRESS FOR PASSWORD PROTECTION
                        </h6>
                    </div>
                    <div style="margin-top:10px" class="col-xl-5 col-lg-12 mb-2">
                        <p align="justify" class="paragraph">
                            // We’re a secure password management website that helps you store, manage, and access your passwords from anywhere. Our user-friendly platform and encryption technology make it easy and safe to manage all your passwords in one place.
                        </p>
                        <button onclick="window.location.href='/Registration/Index'" style="margin-top:30px" type="button" class="btn btn-outline-secondary rounded-0" id="getstartedbtn">
                            GET STARTED →
                        </button>
                    </div>
                    <div class="col-md-7 d-none d-xl-block mh-100" id="imgdiv">
                        <img class="img-fluid overlay-text" id="img" src="~/Elements/homepageelement2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <footer style="margin-top: 40px" class="p-5 text-white">
            <div class="col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>
    </div>
</body>
</html>