.btn-outline-secondary {
    color: white;
}

    .btn-outline-secondary:hover {
        color: black;
        background-color: white;
    }

.btn-primary2 {
    color: black;
    background-color: white;
}

    .btn-primary2:hover {
        color: black;
        background-color: darkgray;
    }

.navbar {
    color: white;
}

.navbar-brand {
    width: 150px;
    padding-left: 0px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item {
    color: white;
    font-size: 24px;
}

#navcontainer {
    padding-left: 50px;
}

#loginbtn {
    font-size: 24px;
}

@media (max-width: 992px) {
    #navlogin {
        padding-top: 8px;
    }

    #loginbtn {
        font-size: 24px;
    }
}

#navmenu, thead, .modal-title {
    font-family: 'Barlow', sans-serif;
    
}

.modal-title {
    font-weight: bold;
}

#content, #list-tab, #additembtn, .item-table, #addmodalbtn, .form-floating{
    font-family: 'JetBrains Mono', monospace;
}

#list-tab{
    font-size:24px;
}

small{
    font-size:12px;
    color:darkgray;
    margin-bottom:20px;
}

.table {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

.registration-form {
    color: black !important;
}

.input-group-text{
    background-color:white;
}

#searchform, #basic-addon1 {
    font-family: 'JetBrains Mono', monospace;
    height:50px;
    border:0;
}

#additembtn {
    width: 95%;
    height: 50px;
    font-size: 20px;
}

#searchicon{
    height:20px;
}

.modal-content {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
}

.form-control-plaintext{
    color:white;
}

a:link {
    color: #3e8285;
    background-color: transparent;
    text-decoration: none;
}

#signinprompt {
    color: #3e8285;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-size: 100px;
}

.overlay-text {
    position: relative;
    left: 300px;
    bottom: 350px;
    height: auto;
    z-index: 10;
}

#img {
    margin-left: auto;
    text-align: right;
}

#imgdiv {
    height: 300px;
    overflow: visible;
}

#floatingFirstName, #floatingUsername {
    width: 500px
}

#title {
    z-index: 20;
}


.profile {
    color: blue !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-link {
    position: relative;
}

.nav-link-normal::after {
    opacity: 0;
    content: '';
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link-normal:hover::after {
    opacity: 1;
}

.nav-link-dropdown::after {
    opacity: 0;
    content: '';
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link-dropdown:hover::after {
    opacity: 1;
}

#eyeicon {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
    width: 20px;
    height: auto;
}

.modal-footer, .modal-header {
    border: none !important;
}

.btn-close {
    background-color: gray !important;
}

#modalLabel {
    font-size: 20px;
}

#addmodalbtn {
    width: 250px;
    height: 50px;
    font-size: 18px;
}

#table-leftcolumn{
    padding:0;
    margin:0;
}

#table-rightcolumn {
    padding: 0;
    margin: 0;
}

#passrepotable {
    border: 0.1px solid rgba(255,255,255,.3);
}

.form-control-plaintext {
    border-bottom: 1px solid white;
    width: 60%;
    max-width: 90%;
}

.form-control-plaintext:focus {
    box-shadow: none;
    outline: none;
}

.table-form:hover > .form-control-plaintext {
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #781947;
}

.list-group-item {
    border: none;
}

#searchform:focus, .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: darkgray;
}

.list-group-item.active {
    background-color: #1e3d40;
    border: none;
    border-color: none;
}

.tab-pane.active {
    background-color: #1e3d40;
    border: none;
}

.tab-content, .tab-pane{
    height:100%
}

#eyeicon-table {
    position: absolute;
    right: 11%;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
    width: 20px;
    height: auto;
}

textarea {
    resize: none;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: none;
    background-color:rgb(255,255,255,.1);
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: none;
}