html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/Elements/background3.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    margin-top: auto;
}

.btn-outline-secondary {
    color: white;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
}

.btn-primary2 {
    color: black;
    background-color: white;
}

.btn-primary2:hover {
    color: black;
    background-color: darkgray;
}

.navbar {
    color: white;
}

.navbar-brand {
    width: 150px;
    padding-left: 0px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item {
    color: white;
    font-size: 24px;
}

#navcontainer {
    padding-left: 50px;
}

#loginbtn {
    font-size: 24px;
}

@media (max-width: 991px) {
    #navlogin {
        padding-top: 8px;
    }
}


@media (max-width: 992px) {

    #loginbtn {
        font-size: 24px;
        width:100%;
    }
}

#navmenu {
    font-family: 'Barlow', sans-serif;
}

#content {
    font-family: 'JetBrains Mono', monospace;
}

.registration-form {
    color: black !important;
}

#getstartedbtn {
    width: 280px;
    height: 80px;
    font-size: 30px;
}

a:link {
    color: #3e8285;
    background-color: transparent;
    text-decoration: none;
}

#signinprompt {
    color: #3e8285;
    background-color: transparent;
    text-decoration: none;
}

#tandcprompt {
    color: #c42974;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-size: 100px;
}

.overlay-text {
    position: relative;
    left: 300px;
    bottom: 350px;
    height: auto;
    z-index: 10;
}

#img {
    margin-left: auto;
    text-align: right;
}

#imgdiv {
    height: 300px;
    overflow: visible;
}

#floatingFirstName, #floatingUsername {
    width: 500px
}

#title {
    z-index: 20;
}


.profile {
    color: blue !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    opacity: 0;
    content: '';
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

#eyeicon-register {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
    width: 20px;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: darkgray;
}

#navmenu, thead {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: white !important;
}

.modal-content {
    background-color: #1a1a1a;
    font-family:'JetBrains Mono'
}

.modal-footer, .modal-header {
    border: none !important;
    height:50px!important;
    margin:16px;
    padding:0px!important;
}

.modal-lg {
    width: 500px;
}

.modal-title {
    font-weight: bold;
    font-size: 30px !important;
    top: 10px !important;
    color: #c42974!important;
}

h5 {
    color: #4ca1a5 !important;
}