@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

html, body {
    overflow-x: hidden;
    padding-bottom: 0px;
    padding-top: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    background-image: url(/Elements/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#outer {
    overflow: hidden;
}

section {
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: none;
    background-color: rgb(255,255,255,.1);
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: none;
    visibility: hidden;
}

*::-webkit-scrollbar-thumb {
    visibility: visible;
}

.flipped {
    direction:rtl;
}